@model List<GuitarStore.Models.Guitar>

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
	<title>Rockstar</title>
</head>
<body>
	<div class="container mt-4 mb-4">
		<div class="row">
			@foreach (var guitar in Model)
			{
				string? url = guitar.PhotoUrl;
				<div class="col-md-4 mb-4">
					<div class="card">
						<a href="@Url.Action("Details", "Home", new { id = guitar.GuitarId })">
							<img src="@url" class="card-img-top guitar-image" alt="good">
							<div class="d-flex gap-2 align-items-center flex-start mt-2" style="padding-left: 4px">
								<h4 style="color: #353a3d">Guitar Model - </h4>
								<h5 class="card-title" style="color: #353a3d">@guitar.GuitarModel</h5>
							</div>
							<p style="color: #353a3d; padding-left: 4px; font-size: 11px">@guitar.GuitarDescription</p>
							<div class="d-flex gap-2 align-items-center flex-start" style="padding-left: 4px">
								<h4 style="color : #353a3d">Price - </h4>
								<h5 style="color: #2d3b37">@guitar.Price $</h5>
							</div>
						</a>
						<div class="d-flex gap-1">
							<form method="post" action="/Login/Index">
								<input type="hidden" name="guitarId" value="@guitar.GuitarId">
								<input type="hidden" name="action" value="Like">
								<button type="submit" class="col btn btn-secondary w-100">Like</button>
							</form>
							<form method="post" action="/Login/Index">
								<input type="hidden" name="guitarId" value="@guitar.GuitarId">
								<input type="hidden" name="action" value="Add">
								<button type="submit" class="col btn btn-secondary w-100">Add</button>
							</form>
						</div>
						<form method="post" action="/Login/Index" class="mt-1">
							<input type="hidden" name="guitarId" value="@guitar.GuitarId">
							<input type="hidden" name="action" value="Order">
							<button type="submit" class="col btn btn-primary w-100">Buy</button>
						</form>
					</div>
				</div>
			}
		</div>
	</div>
</body>
